.message-input
  display: flex
  align-items: center
  position: fixed
  width: 100%
  max-width: 550px
  padding: 15px
  bottom: 0
  background-color: #fff
  &__send
    margin-left: 15px
    font-size: 20px
    color: #1A5276
    background-color: transparent
    border: none
    outline: none
    cursor: pointer

